*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    margin: 0;
    padding: 0;
}
.align
{
    align-items: center;
}
.my-container{
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0px 30px;
}
body{
    font-size: 18px;
    font-weight: 400;
}
.d-flex {
    display: flex!important;
    align-items: center;
  
}
.bg-color{
    background-color: #4e705f;
}
.padding{
    padding-top: 80px;
    padding-bottom: 80px;
}
a{
    text-decoration: none;
    color:black;
}
.Xl-heading {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 700;
}
.large-heading{
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0px;
}
.s-heading{
    font-size: 30px;
    font-weight: 700;
}
.small-heading{
    font-size: 20px;
    font-weight: 600;
}
.content-section p{
    font-size: 20px;
}
.btn {
    background-color: #f8e71c;
    padding: 18px 57px;
    border-radius: 3px;
    display: inline-block;
    margin: 25px 0px;
    font-weight: 600;
    font-size: 20px;
}
a.btn:hover{
    color: white;
    background-color: yellow;
}
.badge-container p {
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    font-weight: 600;
    line-height: 1;
    color: white;
}

.seller-img {
    position: absolute;
    right: 74px;
    top: 116px;
}
.book-content {
    position: absolute;
    top: 326px;
    color: white;
    right: 194px;
}
.sm-text {
    position: absolute;
    right: 135px;
}
.text-style {
    color: yellow;
    margin-right: 53px;
    font-weight: 500;
    font-size: 16px;
}
.border-btm{
    border-bottom: 1px solid white;
}

.lg-container{
    max-width: 1330;
    width: 100%;
    margin: 0 auto;
    padding: 0px 80px;
}
.color-1{
    color:  #4e705f;
}
.color-2{
    color: #eb5850;
}
.time-box{
    background-color: #4e705f;
    color: white;
    padding: 8px 18px;
    text-align: center;
    border-radius: 4px;
}
.time-box span{
    font-size: 24px;
    font-weight: 600;

}
.testimonial-section{
    background-color: #e4e9e7;
}
.testimonial-card {
    background: white;
    padding: 23px 23px;
    border-radius: 19px;
}
.profile {
    background:white;
    padding: 50px;
    border-radius: 67px;
    position: relative;
}
.profile-img {
    position: absolute;
    width: 94%;
    height: 100%;
    border-radius: 61%;
    object-fit: cover;
    top: 0px;
    left: 0px;
}
.role{
    color: gray;
}

.profile-info {
    line-height: 9px;
}
.color-3{
    color: yellow;
}

.section-2{
    background-color: #719a86;
}
.section-3{
 background-color: #718e7f;
}
.section-4{
       background-color: #719a86;
        border-bottom-right-radius: 15px;
}
.section-1 , .section-2 , .section-3 , .section-4{
  padding: 27px 22px;
}
.section-1 {
    background-color: #718e7f;
    border-bottom-left-radius: 15px;
    padding: 40px 21px;
}
.banner {
    border-radius: 15px 15px 0px 0px;
}
.buy-section {
    background-color:#e4e9e7;
}
ul li {
    list-style-type: none;
    padding: 7px 2px;
}
ul.check-ticks {
    padding: 0px;
}
.rating{
   padding: 17px 0px;
}
a.btn.get-btn {
    padding: 12px 23px;
}
.brand {
    padding: 0px 8px;
}
.img-section{
    position: relative;
}
img.img-1 {
   margin-top: -15%;
}
img.img-2 {
   
        margin-top:30%;
        margin-left: -28%;

}

.before {
    background: black;
}
.before, .after {
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 30px 0px;
}
i.fa-solid.fa-check {
    background: #84A98C;
    border-radius: 32px;
    padding: 2px 0px;
    margin-right: 10px;
}

.Achievement-sec{
 background-color:#e4e9e7;
 }
.color-4{
    color: #4e705f;
}
.achievements {
    background: white;
    padding: 11px 35px;
    text-align: center;
    border-radius: 15px;
    margin: 10px 0px;
}
.achieve-bg {
    background: none;
    border: 1px solid #585858;
}

.btn1 {
    padding: 16px 48px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}

.card-section{
    background-color: #e4e9e7;
}
.card-content{
    background: white;
    padding: 18px 0 0 0;
    border-radius: 12px;
}
.card-content .btn{
    padding: 13px 73px;
}
.card-margin {
    margin-bottom: -219px;
}

.stamp-section{
    padding-top: 179px;
}


.accordion-button:not(.collapsed) {
    color: black;
    background: none;
    border: none;
    font-weight: 600;
}
.accordion-button:focus {
    z-index:none;
    outline: none;
    box-shadow:none;
}
.accordion-item {
    margin: 10px 0px;
    border: none;
}
/* Responsive */

@media(max-width:1024px){
   
    .large-heading {
        font-size: 47px;
    }
    .testimonial-card {
        
        padding: 23px 14px;
    }
}

@media(max-width:768px){
    .large-heading {
        font-size: 42px;
    }
    .row.hero-sec {
        flex-direction: column-reverse;
    }
    .content-section {
        text-align: center;
    }
    .row.badge-section{
        justify-content: center;
    }
    .logo-section{
        display: none;
    }
    .testimonial-card-3 {
        display: none;
    }
    .section-1 {
         border-bottom-left-radius:0px;
        padding:none;
    }
    .section-4 {
        border-bottom-right-radius:0px;
       padding:none;
   }
   .section-1, .section-2, .section-3, .section-4 {
    border: 1px solid white;
}
.row.auth-sec{
    flex-direction: column-reverse;
}
/* happy-reader-section */
   .img-margin {
    margin: 13px 0px;
   }
   img.img-2 {

}
}